<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Drawing Sandbox</title>
        <style>
            body { margin: 0; overflow: hidden; }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                function startDrawing() {
                    const canvas = document.getElementById('canvas')
                    const w = canvas.width  = window.innerWidth
                    const h = canvas.height = window.innerHeight
                    draw(canvas.getContext('2d'), w, h)
                }
                window.addEventListener('resize', startDrawing); startDrawing()
            })
        </script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <script>
            function draw(ctx, w, h) {
                ctx.fillStyle = 'black'
                ctx.beginPath()
                ctx.rect(0, 0, w, h)
                ctx.fill()

                // TODO
            }
        </script>
    </body>
</html>

