<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Drawing Sandbox</title>
        <style>
            body { margin: 0; }
        </style>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                function startDrawing() {
                    const canvas = document.getElementById('canvas')
                    const width = canvas.width  = window.innerWidth
                    const height = canvas.height = window.innerHeight
                    draw(canvas.getContext('2d'), width, height)
                }
                window.addEventListener('resize', startDrawing); startDrawing()
            })
        </script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <script>
            function draw(context, width, height) {
                context.fillStyle = 'black'
                context.beginPath()
                context.rect(0, 0, width, height)
                context.fill()

                // TODO
            }
        </script>
    </body>
</html>

